<mat-progress-bar mode="query" *ngIf="isRequesting"></mat-progress-bar>


<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>{{'PERSON.FIELDS.NAME'|translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      {{data.name}} {{data.lastName}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef>{{'PERSON.FIELDS.PHONE_NUMBER'|translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      {{data.phoneNumber}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef>{{'PERSON.FIELDS.ADDRESS'|translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      {{data.address}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="books">
    <mat-header-cell *matHeaderCellDef>{{'PERSON.FIELDS.BOOKS'|translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      {{data.books.length}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="recordState">
    <mat-header-cell *matHeaderCellDef>{{'SYSTEM.RECORD.RECORD_STATE'|translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      {{data.recordState}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="updatedAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
      {{'SYSTEM.RECORD.UPDATED_ON'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let data" fxHide fxShow.gt-md>
      {{data.updatedAt | timeAgo }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'SYSTEM.RECORD.ACTIONS'|translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      <button mat-icon-button (click)="editPerson(data.id, true)">
        <mat-icon>create</mat-icon>
      </button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
  <mat-row *matRowDef="let data; columns: displayedColumns;"></mat-row>
  <mat-row *matNoDataRow>

  </mat-row>
</mat-table>


<button mat-fab class="fab-add-button" color="primary" (click)="editPerson()">
  <mat-icon>add</mat-icon>
</button>
