/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


.spacer {
  flex: 1 1 auto;
}

.fab-add-button {
  right: 30px;
  bottom: 5%;
  left: auto;
  position: fixed !important;
}

mat-form-field {
  width: 100%;
}
